<section id="navbar">
            <div class="container-fluid">
                <nav class="navbar navbar-light" >
                    <div class="container-fluid d-flex justify-content-between">
                        <a class="navbar-brand" href="#">
                            <img src="assets/img/APLogo.png" alt="" width="50" height="40"
                                class="d-inline-block align-text-top" style="background-color: black;">
                           
                        </a>
                        <i class="fas fa-sign-in-alt" style="color: brown;" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"></i>
                          
                    </div>
                </nav>
            </div>
</section>