<section>
    <div class="modal fade" id="editEducation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="background-color: rgb(133, 208, 255);">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Contact</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-sm-3 col-form-label is-required">colegio</label>
                <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" required>

                <label class="col-sm-3 col-form-label is-required">descripcion</label>
                <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" required>

                <label class="col-sm-3 col-form-label is-required">fecha inicio</label>
                <input type="date" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" required>

                <label class="col-sm-3 col-form-label is-required">fecha fin</label>
                <input type="date" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" required>
                
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</section>