<div class="container-fluid">
    <!-- <img src="./img/code.webp" alt="" class="banner"> -->
    <div class="card" style="background-color:white;">
        <img src="assets/img/full-stack.jpg" class="card-img-top" id="discord" alt="...">
        <div class="d-flex justify-content-end">
            <div class="botones">
                <i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal">
                </i>

                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
        <div class="card-body">
            <img src="assets/img/yo.jpg" alt="" id="yo" class="circulo">
            <div class="datos">
                <h5 class="card-title">Fernando Weisheim</h5>
                <p class="card-text">Developer Full-Stack Jr</p>
                <a href="#" class="btn btn-primary"></a>

            </div>
        </div>
    </div>